/* -------- Embroidery -------- */

.product-info__embroidery {
  margin: -20px 0 20px;
}

/* -------- AccessiBE -------- */

[data-acsb-custom-trigger="true"]{
  cursor: pointer;
}

/* -------- Custom Pages -------- */

.work_page *,
.rp_page_heading {
  font-family: var(--text-font-family);
  font-weight: 300;
}

/* -------- Rebuy quantity -------- */
.rebuy-cart__flyout-item-quantity-widget {
  position: relative !important;
}

.rebuy-cart__flyout-item-quantity-widget .custom-plus-btn {
  position: absolute;
  right: 0;
}

.rebuy-cart__flyout-item-quantity-widget.error {
  border-color: #da0f0f;
}

.rebuy-cart__flyout-item-quantity-widget.error * {
  color: #da0f0f !important;
}